html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("aurora-borealis-bright-colors-731659.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    color: white;
    font-size: 3em;
    padding-top: 20%;
}

.btn-primary{
    margin-top: 10%;
    background-color: rgb(96, 22, 96);
    font-size: 2rem;
    font-style: italic;
    border-color: black;
    border-radius: 200px;
    transition: transform .5s;
}

    .btn-primary:hover {
        background-color: rgb(125, 55, 125);
        border-color: black;
        transform: scale(1.1);
    }
